<template name="navbar">
  <nav class="z-depth-1 white">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="" class="blue-grey-text text-darken-4">Satılık</a></li>
        <li><a href="" class="blue-grey-text text-darken-4">Kiralık</a></li>
        <li><a href="" class="blue-grey-text text-darken-4">İlan Ver</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="" class="blue-grey-text text-darken-4">Hakkımızda</a></li>
        <li><a href="" class="blue-grey-text text-darken-4">İletişim</a></li>
        <li><a href="" class="blue-grey-text text-darken-4">JavaScript</a></li>
      </ul>
    </div>
  </nav>

</template>
